extends ../includes/layout
block content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Visualize Charts
          h6 -Visual charts using D3
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/lineChart") Line Chart
          li
            a(href="/scatterPlot") Scatter Plot
  .container
    section.content(ng-view)
  footer.container.text-center.margin-top-med
    p &copy; 2015 Visualize Charts Corp International Ltd

