body
  padding-top 70px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color whitesmoke

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #258cd1

.padding-top-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.margin-top-med
  margin-top 21px

.bar
  fill #258cd1
  shape-rendering crispEdges

.bar-label
  text-anchor end
  fill whitesmoke
  font-size 20px

.circle
  fill #258cd1
  stroke orange

.circle-label
  text-anchor end
  fill #000
  font-size 20px

.vbar-label
  text-anchor middle
  fill whitesmoke
  font-size 20px

.svg
  border 1px solid #ccc

.axis path
.axis line
  fill none
  stroke: #000
  shape-rendering crispEdges

.gridline path
.gridline line
  fill none
  stroke #CCC
  shape-rendering crispEdges

.trendline
  fill none
  stroke #ccc
  stroke-width 4px
  stroke-dasharray 5
  shape-rendering crispEdges

.line-label
  text-anchor start
  fill #555
  font-size 20px

.area
  fill #D4E9FF
  stroke #D4E9FF
  stroke-width 1px
  shape-rendering crispEdges

.donut
  opacity 0.2

.yaxis-label
  text-anchor middle

.chart-header-label
  text-anchor middle
  fill #555
  font-size 20px